/* =========================
   Games
========================= */

.games {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 30px 20px;

    width: 740px;
    max-width: 100%;

    margin: 40px auto 0;
}

.games p {
    color: lightgray !important;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.game img {
    width: 100%;
    max-width: 500px;
    height: auto;

    object-fit: contain;

    transition: opacity 0.2s;
}

.game img:hover {
    opacity: 0.5;
}

/* =========================
   Trailer
========================= */

.trailer {
    width: 740px;
    max-width: 100%;

    margin: 0 auto;
}

.trailer video {
    width: 100%;
    height: auto;

    display: block;

    border: 1px solid gray;
    border-radius: 6px;
}